{
  "openapi": "3.1.0",
  "info": {
    "title": "MOTIS API",
    "description": "This is the MOTIS routing API.\n\nOverview of MOTIS API versions:\n\nMOTIS 0.x - deprecated/discontinued\n\nMOTIS 2.x - current, providing:\n\n* /api/v6/{plan,trip,stoptimes,one-to-all,map/stops,map/trips} no longer set optional level to 0; since MOTIS 2.9.x\n* /api/v5/{plan,trip,stoptimes,map/trips} renamed METRO mode to SUBURBAN, AREAL_LIFT to AERIAL_LIFT; since MOTIS 2.5.0\n* /api/v4/{plan,trip,stoptimes,map/trips} new displayName property, routeShortName only contains actual route short name from source; since MOTIS 2.2.0\n* /api/v3/plan with correct maxTransfers API parameter (transfers actually corresponding to number of changes between transit legs (and not to number of transit legs), i.e. maxTransfers=0 returns direct public transit connections, as expected); since MOTIS 2.0.84 \n* /api/v2/{plan,trip} returns Google polylines with precision=6; since MOTIS 2.0.60\n* /api/v1/{plan,trip} returns Google polylines with precision=7 (not defined for |longitude|>107)\n* /api/v1/* all other endpoints\n\nIf you use the JS client lib https://www.npmjs.com/package/@motis-project/motis-client, endpoint versions will be taken into account automatically (i.e. the newest one available will be used).\n",
    "contact": {
      "email": "felix@triptix.tech"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit"
    },
    "version": "v6"
  },
  "externalDocs": {
    "description": "Find out more about MOTIS",
    "url": "https://github.com/motis-project/motis"
  },
  "servers": [
    {
      "url": "https://api.transitous.org",
      "description": "Transitous production server"
    },
    {
      "url": "https://staging.api.transitous.org",
      "description": "Transitous staging server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local MOTIS server"
    }
  ],
  "paths": {
    "/api/v6/plan": {
      "get": {
        "tags": [
          "routing"
        ],
        "summary": "Computes optimal connections from one place to another.",
        "operationId": "plan",
        "parameters": [
          {
            "name": "fromPlace",
            "in": "query",
            "required": true,
            "description": "\\`latitude,longitude[,level]\\` tuple with\n- latitude and longitude in degrees\n- (optional) level: the OSM level (default: 0)\n\nOR\n\nstop id\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toPlace",
            "in": "query",
            "required": true,
            "description": "\\`latitude,longitude[,level]\\` tuple with\n- latitude and longitude in degrees\n- (optional) level: the OSM level (default: 0)\n\nOR\n\nstop id\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Experimental. Search radius in meters around the `fromPlace` / `toPlace` coordinates.\nWhen set and the place is given as coordinates, all transit stops within\nthis radius are used as start/end points. The pre-transit/post-transit time\nfor each of them is estimated from the crow-fly distance to the coordinate\nat walking speed (1.5 m/s), rounded down to whole minutes.\nWorks without OSM/street routing data loaded.\n",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "via",
            "in": "query",
            "required": false,
            "description": "List of via stops to visit (only stop IDs, no coordinates allowed for now).\nAlso see the optional parameter `viaMinimumStay` to set a set a minimum stay duration for each via stop.\n",
            "schema": {
              "type": "array",
              "maxItems": 2,
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "viaMinimumStay",
            "in": "query",
            "required": false,
            "description": "Optional. If not set, the default is `0,0` - no stay required.\n\nFor each `via` stop a minimum stay duration in minutes.\n\nThe value `0` signals that it's allowed to stay in the same trip.\nThis enables via stays without counting a transfer and can lead \nto better connections with less transfers. Transfer connections can\nstill be found with `viaMinimumStay=0`.\n",
            "schema": {
              "default": [
                0,
                0
              ],
              "type": "array",
              "maxItems": 2,
              "items": {
                "type": "integer"
              }
            },
            "explode": false
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Optional. Defaults to the current time.\n\nDeparture time ($arriveBy=false) / arrival date ($arriveBy=true),\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxTransfers",
            "in": "query",
            "required": false,
            "description": "The maximum number of allowed transfers (i.e. interchanges between transit legs,\npre- and postTransit do not count as transfers).\n`maxTransfers=0` searches for direct transit connections without any transfers.\nIf you want to search only for non-transit connections (`FOOT`, `CAR`, etc.),\nsend an empty `transitModes` parameter instead.\n\nIf not provided, the routing uses the server-side default value\nwhich is hardcoded and very high to cover all use cases.\n\n*Warning*: Use with care. Setting this too low can lead to\noptimal (e.g. the fastest) journeys not being found.\nIf this value is too low to reach the destination at all,\nit can lead to slow routing performance.\n\nIn plan endpoints before v3, the behavior is off by one,\ni.e. `maxTransfers=0` only returns non-transit connections.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxTravelTime",
            "in": "query",
            "required": false,
            "description": "The maximum travel time in minutes.\nIf not provided, the routing to uses the value\nhardcoded in the server which is usually quite high.\n\n*Warning*: Use with care. Setting this too low can lead to\noptimal (e.g. the least transfers) journeys not being found.\nIf this value is too low to reach the destination at all,\nit can lead to slow routing performance.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minTransferTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 0 minutes.\n\nMinimum transfer time for each transfer in minutes.\n",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "additionalTransferTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 0 minutes.\n\nAdditional transfer time reserved for each transfer in minutes.\n",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "transferTimeFactor",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 1.0\n\nFactor to multiply minimum required transfer times with.\nValues smaller than 1.0 are not supported.\n",
            "schema": {
              "type": "number",
              "default": 1.0
            }
          },
          {
            "name": "maxMatchingDistance",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 250 meters.\n\nMaximum matching distance in meters to match geo coordinates to the street network.\n\nIs limited by server config variable `max_max_matching_distance`, larger values are capped to this limit.\n",
            "schema": {
              "type": "number",
              "default": 250
            }
          },
          {
            "name": "pedestrianProfile",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `FOOT`.\n\nAccessibility profile to use for pedestrian routing in transfers\nbetween transit connections, on the first mile, and last mile.\n",
            "schema": {
              "$ref": "#/components/schemas/PedestrianProfile",
              "default": "FOOT"
            }
          },
          {
            "name": "pedestrianSpeed",
            "in": "query",
            "required": false,
            "description": "Optional\n\nAverage speed for pedestrian routing.\n",
            "schema": {
              "$ref": "#/components/schemas/PedestrianSpeed"
            }
          },
          {
            "name": "cyclingSpeed",
            "in": "query",
            "required": false,
            "description": "Optional\n\nAverage speed for bike routing.\n",
            "schema": {
              "$ref": "#/components/schemas/CyclingSpeed"
            }
          },
          {
            "name": "vehicleHeight",
            "in": "query",
            "required": false,
            "description": "Vehicle height in meters used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleHeight"
            }
          },
          {
            "name": "vehicleWidth",
            "in": "query",
            "required": false,
            "description": "Vehicle width in meters used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleWidth"
            }
          },
          {
            "name": "vehicleLength",
            "in": "query",
            "required": false,
            "description": "Vehicle length in meters used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleLength"
            }
          },
          {
            "name": "vehicleWeight",
            "in": "query",
            "required": false,
            "description": "Vehicle gross weight in tons used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleWeight"
            }
          },
          {
            "name": "vehicleHazmat",
            "in": "query",
            "required": false,
            "description": "Whether the vehicle carries hazardous materials for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmat"
            }
          },
          {
            "name": "vehicleHazmatWater",
            "in": "query",
            "required": false,
            "description": "Whether the vehicle carries hazardous materials dangerous to water for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmatWater"
            }
          },
          {
            "name": "vehicleAxleCount",
            "in": "query",
            "required": false,
            "description": "Axle count used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleCount"
            }
          },
          {
            "name": "vehicleAxleLoad",
            "in": "query",
            "required": false,
            "description": "Maximum axle load in tons used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleLoad"
            }
          },
          {
            "name": "vehicleTrailer",
            "in": "query",
            "required": false,
            "description": "Whether the vehicle has a trailer for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleTrailer"
            }
          },
          {
            "name": "vehicleTopSpeed",
            "in": "query",
            "required": false,
            "description": "Vehicle top speed in km/h used for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleTopSpeed"
            }
          },
          {
            "name": "vehicleLezAccess",
            "in": "query",
            "required": false,
            "description": "Whether the vehicle is allowed to use low-emission zones for `HGV` street routing.",
            "schema": {
              "$ref": "#/components/schemas/VehicleLezAccess"
            }
          },
          {
            "name": "elevationCosts",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `NONE`.\n\nSet an elevation cost profile, to penalize routes with incline.\n- `NONE`: No additional costs for elevations. This is the default behavior\n- `LOW`: Add a low cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if small detours are required.\n- `HIGH`: Add a high cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if larger detours are required.\n\nAs using an elevation costs profile will increase the travel duration,\nrouting through steep terrain may exceed the maximal allowed duration,\ncausing a location to appear unreachable.\nIncreasing the maximum travel time for these segments may resolve this issue.\n\nThe profile is used for direct routing, on the first mile, and last mile.\n\nElevation cost profiles are currently used by following street modes:\n- `BIKE`\n",
            "schema": {
              "$ref": "#/components/schemas/ElevationCosts",
              "default": "NONE"
            }
          },
          {
            "name": "useRoutedTransfers",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\n\nWhether to use transfers routed on OpenStreetMap data.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "detailedTransfers",
            "in": "query",
            "required": false,
            "description": "Controls if transfer polylines and step instructions are returned.\n\nIf not set, this parameter inherits the value of `detailedLegs`.\n\n- true: Compute transfer polylines and step instructions.\n- false: Return empty `legGeometry` and omit `steps` for transfers.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "detailedLegs",
            "in": "query",
            "required": false,
            "description": "Controls if `legGeometry` and `steps` are returned for direct legs,\npre-/post-transit legs and transit legs.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "joinInterlinedLegs",
            "in": "query",
            "description": "Optional. Default is `true`.\n\nControls if a journey section with stay-seated transfers is returned:\n- `joinInterlinedLegs=false`: as several legs (full information about all trip numbers, headsigns, etc.).\n  Legs that do not require a transfer (stay-seated transfer) are marked with `interlineWithPreviousLeg=true`.\n- `joinInterlinedLegs=true` (default behavior): as only one joined leg containing all stops\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "transitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `TRANSIT` which allows all transit modes (no restriction).\nAllowed modes for the transit part. If empty, no transit connections will be computed.\nFor example, this can be used to allow only `SUBURBAN,SUBWAY,TRAM`.\n",
            "schema": {
              "default": [
                "TRANSIT"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "directModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK` which will compute walking routes as direct connections.\n\nModes used for direction connections from start to destination without using transit.\nResults will be returned on the `direct` key.\n\nNote: Direct connections will only be returned on the first call. For paging calls, they can be omitted.\n\nNote: Transit connections that are slower than the fastest direct connection will not show up.\nThis is being used as a cut-off during transit routing to speed up the search.\nTo prevent this, it's possible to send two separate requests (one with only `transitModes` and one with only `directModes`).\n\nNote: the output `direct` array will stay empty if the input param `maxDirectTime` makes any direct trip impossible.\n\nOnly non-transit modes such as `WALK`, `BIKE`, `CAR`, `HGV`, `BIKE_SHARING`, etc. can be used.\n",
            "schema": {
              "default": [
                "WALK"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "preTransitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK`. Only applies if the `from` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directModes`).\n\nA list of modes that are allowed to be used from the `from` coordinate to the first transit stop. Example: `WALK,BIKE_SHARING`.\n",
            "schema": {
              "default": [
                "WALK"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "postTransitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK`. Only applies if the `to` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directModes`).\n\nA list of modes that are allowed to be used from the last transit stop to the `to` coordinate. Example: `WALK,BIKE_SHARING`.\n",
            "schema": {
              "default": [
                "WALK"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "directRentalFormFactors",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies to direct connections.\n\nA list of vehicle type form factors that are allowed to be used for direct connections.\nIf empty (the default), all form factors are allowed.\nExample: `BICYCLE,SCOOTER_STANDING`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RentalFormFactor"
              }
            },
            "explode": false
          },
          {
            "name": "preTransitRentalFormFactors",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `from` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalFormFactors`).\n\nA list of vehicle type form factors that are allowed to be used from the `from` coordinate to the first transit stop.\nIf empty (the default), all form factors are allowed.\nExample: `BICYCLE,SCOOTER_STANDING`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RentalFormFactor"
              }
            },
            "explode": false
          },
          {
            "name": "postTransitRentalFormFactors",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `to` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalFormFactors`).\n\nA list of vehicle type form factors that are allowed to be used from the last transit stop to the `to` coordinate.\nIf empty (the default), all form factors are allowed.\nExample: `BICYCLE,SCOOTER_STANDING`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RentalFormFactor"
              }
            },
            "explode": false
          },
          {
            "name": "directRentalPropulsionTypes",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies to direct connections.\n\nA list of vehicle type form factors that are allowed to be used for direct connections.\nIf empty (the default), all propulsion types are allowed.\nExample: `HUMAN,ELECTRIC,ELECTRIC_ASSIST`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RentalPropulsionType"
              }
            },
            "explode": false
          },
          {
            "name": "preTransitRentalPropulsionTypes",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `from` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalPropulsionTypes`).\n\nA list of vehicle propulsion types that are allowed to be used from the `from` coordinate to the first transit stop.\nIf empty (the default), all propulsion types are allowed.\nExample: `HUMAN,ELECTRIC,ELECTRIC_ASSIST`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RentalPropulsionType"
              }
            },
            "explode": false
          },
          {
            "name": "postTransitRentalPropulsionTypes",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `to` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalPropulsionTypes`).\n\nA list of vehicle propulsion types that are allowed to be used from the last transit stop to the `to` coordinate.\nIf empty (the default), all propulsion types are allowed.\nExample: `HUMAN,ELECTRIC,ELECTRIC_ASSIST`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RentalPropulsionType"
              }
            },
            "explode": false
          },
          {
            "name": "directRentalProviders",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies to direct connections.\n\nA list of rental providers that are allowed to be used for direct connections.\nIf empty (the default), all providers are allowed.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "directRentalProviderGroups",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies to direct connections.\n\nA list of rental provider groups that are allowed to be used for direct connections.\nIf empty (the default), all providers are allowed.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "preTransitRentalProviders",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `from` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalProviders`).\n\nA list of rental providers that are allowed to be used from the `from` coordinate to the first transit stop.\nIf empty (the default), all providers are allowed.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "preTransitRentalProviderGroups",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `from` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalProviderGroups`).\n\nA list of rental provider groups that are allowed to be used from the `from` coordinate to the first transit stop.\nIf empty (the default), all providers are allowed.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "postTransitRentalProviders",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `to` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalProviders`).\n\nA list of rental providers that are allowed to be used from the last transit stop to the `to` coordinate.\nIf empty (the default), all providers are allowed.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "postTransitRentalProviderGroups",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Only applies if the `to` place is a coordinate (not a transit stop). Does not apply to direct connections (see `directRentalProviderGroups`).\n\nA list of rental provider groups that are allowed to be used from the last transit stop to the `to` coordinate.\nIf empty (the default), all providers are allowed.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "ignoreDirectRentalReturnConstraints",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Default is `false`.\n\nIf set to `true`, the routing will ignore rental return constraints for direct connections,\nallowing the rental vehicle to be parked anywhere.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignorePreTransitRentalReturnConstraints",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Default is `false`.\n\nIf set to `true`, the routing will ignore rental return constraints for the part from the `from` coordinate to the first transit stop,\nallowing the rental vehicle to be parked anywhere.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignorePostTransitRentalReturnConstraints",
            "in": "query",
            "required": false,
            "description": "Experimental. Expect unannounced breaking changes (without version bumps).\n\nOptional. Default is `false`.\n\nIf set to `true`, the routing will ignore rental return constraints for the part from the last transit stop to the `to` coordinate,\nallowing the rental vehicle to be parked anywhere.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "numItineraries",
            "in": "query",
            "required": false,
            "description": "The minimum number of itineraries to compute.\nThis is only relevant if `timetableView=true`.\nThe default value is 5.\n",
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "maxItineraries",
            "in": "query",
            "required": false,
            "description": "Optional. By default all computed itineraries will be returned\n\nThe maximum number of itineraries to compute.\nThis is only relevant if `timetableView=true`.\n\nNote: With the current implementation, setting this to a lower\nnumber will not result in any speedup.\n\nNote: The number of returned itineraries might be slightly higher\nthan `maxItineraries` as there might be several itineraries with\nthe same departure time but different number of transfers. In order\nto not miss any itineraries for paging, either none or all\nitineraries with the same departure time have to be returned.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageCursor",
            "in": "query",
            "required": false,
            "description": "Use the cursor to go to the next \"page\" of itineraries.\nCopy the cursor from the last response and keep the original request as is.\nThis will enable you to search for itineraries in the next or previous time-window.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timetableView",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `true`.\n\nSearch for the best trip options within a time window.\nIf true two itineraries are considered optimal\nif one is better on arrival time (earliest wins)\nand the other is better on departure time (latest wins).\nIn combination with arriveBy this parameter cover the following use cases:\n\n`timetable=false` = waiting for the first transit departure/arrival is considered travel time:\n  - `arriveBy=true`: event (e.g. a meeting) starts at 10:00 am,\n    compute the best journeys that arrive by that time (maximizes departure time)\n  - `arriveBy=false`: event (e.g. a meeting) ends at 11:00 am,\n    compute the best journeys that depart after that time\n\n`timetable=true` = optimize \"later departure\" + \"earlier arrival\" and give all options over a time window:\n  - `arriveBy=true`: the time window around `date` and `time` refers to the arrival time window\n  - `arriveBy=false`: the time window around `date` and `time` refers to the departure time window\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "arriveBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\n  - `arriveBy=true`: the parameters `date` and `time` refer to the arrival time\n  - `arriveBy=false`: the parameters `date` and `time` refer to the departure time\n"
          },
          {
            "name": "searchWindow",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15 minutes which is `900`.\n\nThe length of the search-window in seconds. Default value 15 minutes.\n\n  - `arriveBy=true`: number of seconds between the earliest departure time and latest departure time\n  - `arriveBy=false`: number of seconds between the earliest arrival time and the latest arrival time\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          },
          {
            "name": "requireBikeTransport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to allow bike carriage.\n"
          },
          {
            "name": "requireCarTransport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to allow car carriage.\n"
          },
          {
            "name": "noCompulsoryReservation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to be usable without compulsory reservation.\n"
          },
          {
            "name": "maxPreTransitTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15min which is `900`.\nMaximum time in seconds for the first street leg.\nIs limited by server config variable `street_routing_max_prepost_transit_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          },
          {
            "name": "maxPostTransitTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15min which is `900`.\nMaximum time in seconds for the last street leg.\nIs limited by server config variable `street_routing_max_prepost_transit_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          },
          {
            "name": "maxDirectTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 30min which is `1800`.\nMaximum time in seconds for direct connections.\nIs limited by server config variable `street_routing_max_direct_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 1800,
              "minimum": 0
            }
          },
          {
            "name": "fastestDirectFactor",
            "in": "query",
            "required": false,
            "description": "Optional. Experimental. Default is `10`.\nFactor with which the duration of the fastest direct non-public-transit connection is multiplied.\nValues > 1.0 allow transit connections that are slower than the fastest direct non-public-transit connection to be found.\n",
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 0
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Optional. Query timeout in seconds.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "passengers",
            "in": "query",
            "required": false,
            "description": "Optional. Experimental. Number of passengers (e.g. for ODM or price calculation)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "luggage",
            "in": "query",
            "required": false,
            "description": "Optional. Experimental. Number of luggage pieces; base unit: airline cabin luggage (e.g. for ODM or price calculation)\n",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "slowDirect",
            "in": "query",
            "required": false,
            "description": "Optional. Experimental. Adds overtaken direct public transit connections.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fastestSlowDirectFactor",
            "in": "query",
            "required": false,
            "description": "Optional. \nFactor with which the duration of the fastest slowDirect connection is multiplied.\nValues > 1.0 allow connections that are slower than the fastest direct transit connection to be found.\nValues < 1.0 will return all slowDirect connections.\n",
            "schema": {
              "type": "number",
              "default": 3.0,
              "minimum": 0
            }
          },
          {
            "name": "withFares",
            "in": "query",
            "required": false,
            "description": "Optional. Experimental. If set to true, the response will contain fare information.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "numLegAlternatives",
            "in": "query",
            "required": false,
            "description": "Optional. Maximum number of alternatives to return per transit\nleg. `0` disables alternatives. When greater than zero, each\ntransit leg in the response is annotated with up to N\n`alternatives`: connections that can replace the leg while still\nmatching the surrounding journey context (i.e. arriving in time\nfor the next transit leg / departing after the previous transit\nleg's arrival). Each alternative is a 3-leg sequence\n`[ingress footpath, transit, egress footpath]`.\n",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "withScheduledSkippedStops",
            "in": "query",
            "required": false,
            "description": "Optional. Include intermediate stops where passengers can not alight/board according to schedule.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "realtimeMode",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `REALTIME`.\n\nControls whether realtime data is used for routing.\n- `REALTIME`: the realtime timetable (delays, cancellations,\n  added/changed trips) is used and reflected in the response.\n- `REALTIME_ANNOTATION_ONLY`: routing uses the scheduled timetable\n  only, but the response is annotated with realtime data.\n- `OFF`: only the scheduled timetable is used.\n",
            "schema": {
              "$ref": "#/components/schemas/RealtimeMode",
              "default": "REALTIME"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "language tags as used in OpenStreetMap / GTFS\n(usually BCP-47 / ISO 639-1, or ISO 639-2 if there's no ISO 639-1)\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "algorithm",
            "in": "query",
            "required": false,
            "description": "algorithm to use",
            "schema": {
              "type": "string",
              "enum": [
                "RAPTOR",
                "PONG",
                "TB"
              ],
              "default": "PONG"
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "routing result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestParameters",
                    "debugOutput",
                    "from",
                    "to",
                    "direct",
                    "itineraries",
                    "previousPageCursor",
                    "nextPageCursor"
                  ],
                  "properties": {
                    "requestParameters": {
                      "description": "the routing query",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "debugOutput": {
                      "description": "debug statistics",
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "from": {
                      "$ref": "#/components/schemas/Place"
                    },
                    "to": {
                      "$ref": "#/components/schemas/Place"
                    },
                    "direct": {
                      "description": "Direct trips by `WALK`, `BIKE`, `CAR`, etc. without time-dependency.\nThe starting time (`arriveBy=false`) / arrival time (`arriveBy=true`) is always the queried `time` parameter (set to \\\"now\\\" if not set).\nBut all `direct` connections are meant to be independent of absolute times.\n",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Itinerary"
                      }
                    },
                    "itineraries": {
                      "description": "list of itineraries",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Itinerary"
                      }
                    },
                    "previousPageCursor": {
                      "description": "Use the cursor to get the previous page of results. Insert the cursor into the request and post it to get the previous page.\nThe previous page is a set of itineraries departing BEFORE the first itinerary in the result for a depart after search. When using the default sort order the previous set of itineraries is inserted before the current result.\n",
                      "type": "string"
                    },
                    "nextPageCursor": {
                      "description": "Use the cursor to get the next page of results. Insert the cursor into the request and post it to get the next page.\nThe next page is a set of itineraries departing AFTER the last itinerary in this result.\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "routing"
        ],
        "summary": "Computes optimal connections from one place to another,\nwith the option to provide client-computed offsets\nfor the first and/or last mile.\n",
        "operationId": "planPost",
        "description": "All routing parameters are passed as query parameters\n(same as the `plan` GET endpoint - see there for their descriptions).\nThe request body carries only the offset lists.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanPostBody"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "routing result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestParameters",
                    "debugOutput",
                    "from",
                    "to",
                    "direct",
                    "itineraries",
                    "previousPageCursor",
                    "nextPageCursor"
                  ],
                  "properties": {
                    "requestParameters": {
                      "description": "the routing query",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "debugOutput": {
                      "description": "debug statistics",
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "from": {
                      "$ref": "#/components/schemas/Place"
                    },
                    "to": {
                      "$ref": "#/components/schemas/Place"
                    },
                    "direct": {
                      "description": "Direct trips by `WALK`, `BIKE`, `CAR`, etc. without time-dependency.\nThe starting time (`arriveBy=false`) / arrival time (`arriveBy=true`) is always the queried `time` parameter (set to \\\"now\\\" if not set).\nBut all `direct` connections are meant to be independent of absolute times.\n",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Itinerary"
                      }
                    },
                    "itineraries": {
                      "description": "list of itineraries",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Itinerary"
                      }
                    },
                    "previousPageCursor": {
                      "description": "Use the cursor to get the previous page of results. Insert the cursor into the request and post it to get the previous page.\nThe previous page is a set of itineraries departing BEFORE the first itinerary in the result for a depart after search. When using the default sort order the previous set of itineraries is inserted before the current result.\n",
                      "type": "string"
                    },
                    "nextPageCursor": {
                      "description": "Use the cursor to get the next page of results. Insert the cursor into the request and post it to get the next page.\nThe next page is a set of itineraries departing AFTER the last itinerary in this result.\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/one-to-many": {
      "get": {
        "tags": [
          "routing"
        ],
        "summary": "Street routing from one to many places or many to one.\nThe order in the response array corresponds to the order of coordinates of the \\`many\\` parameter in the query.\n",
        "operationId": "oneToMany",
        "parameters": [
          {
            "name": "one",
            "in": "query",
            "required": true,
            "description": "geo location as latitude;longitude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "many",
            "in": "query",
            "required": true,
            "description": "geo locations as latitude;longitude,latitude;longitude,...\n\nThe number of accepted locations is limited by server config variable `onetomany_max_many`.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "description": "routing profile to use (currently supported: \\`WALK\\`, \\`BIKE\\`, \\`CAR\\`)\n",
            "schema": {
              "$ref": "#/components/schemas/Mode"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": true,
            "description": "maximum travel time in seconds. Is limited by server config variable `street_routing_max_direct_seconds`.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxMatchingDistance",
            "in": "query",
            "required": true,
            "description": "maximum matching distance in meters to match geo coordinates to the street network\n\nIs limited by server config variable `max_max_matching_distance`, larger values are capped to this limit.\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "vehicleHeight",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHeight"
            }
          },
          {
            "name": "vehicleWidth",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleWidth"
            }
          },
          {
            "name": "vehicleLength",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleLength"
            }
          },
          {
            "name": "vehicleWeight",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleWeight"
            }
          },
          {
            "name": "vehicleHazmat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmat"
            }
          },
          {
            "name": "vehicleHazmatWater",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmatWater"
            }
          },
          {
            "name": "vehicleAxleCount",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleCount"
            }
          },
          {
            "name": "vehicleAxleLoad",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleLoad"
            }
          },
          {
            "name": "vehicleTrailer",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleTrailer"
            }
          },
          {
            "name": "vehicleTopSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleTopSpeed"
            }
          },
          {
            "name": "vehicleLezAccess",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleLezAccess"
            }
          },
          {
            "name": "elevationCosts",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `NONE`.\n\nSet an elevation cost profile, to penalize routes with incline.\n- `NONE`: No additional costs for elevations. This is the default behavior\n- `LOW`: Add a low cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if small detours are required.\n- `HIGH`: Add a high cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if larger detours are required.\n\nAs using an elevation costs profile will increase the travel duration,\nrouting through steep terrain may exceed the maximal allowed duration,\ncausing a location to appear unreachable.\nIncreasing the maximum travel time for these segments may resolve this issue.\n\nElevation cost profiles are currently used by following street modes:\n- `BIKE`\n",
            "schema": {
              "$ref": "#/components/schemas/ElevationCosts",
              "default": "NONE"
            }
          },
          {
            "name": "arriveBy",
            "in": "query",
            "required": true,
            "description": "true = many to one\nfalse = one to many\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "withDistance",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\nIf true, the response includes the distance in meters\nfor each path. This requires path reconstruction and\nis slower than duration-only queries.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of durations.\nIf no path was found, the object is empty.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Duration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "routing"
        ],
        "summary": "Street routing from one to many places or many to one.\nThe order in the response array corresponds to the order of coordinates of the \\`many\\` parameter in the request body.\n",
        "operationId": "oneToManyPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneToManyParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of durations.\nIf no path was found, the object is empty.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Duration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/experimental/one-to-many-intermodal": {
      "get": {
        "tags": [
          "routing"
        ],
        "summary": "One to many routing\nComputes the minimal duration from one place to many or vice versa.\nThe order in the response array corresponds to the order of coordinates of the \\`many\\` parameter in the query.\n",
        "operationId": "oneToManyIntermodal",
        "parameters": [
          {
            "name": "one",
            "in": "query",
            "required": true,
            "description": "geo location as latitude;longitude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "many",
            "in": "query",
            "required": true,
            "description": "geo locations as latitude;longitude,latitude;longitude,...\n\nThe number of accepted locations is limited by server config variable `onetomany_max_many`.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Optional. Defaults to the current time.\n\nDeparture time ($arriveBy=false) / arrival date ($arriveBy=true),\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxTravelTime",
            "in": "query",
            "required": false,
            "description": "The maximum travel time in minutes.\nIf not provided, the routing uses the value\nhardcoded in the server which is usually quite high.\n\n*Warning*: Use with care. Setting this too low can lead to\noptimal (e.g. the least transfers) journeys not being found.\nIf this value is too low to reach the destination at all,\nit can lead to slow routing performance.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxMatchingDistance",
            "in": "query",
            "required": false,
            "description": "maximum matching distance in meters to match geo coordinates to the street network\n\nIs limited by server config variable `max_max_matching_distance`, larger values are capped to this limit.\n",
            "schema": {
              "type": "number",
              "default": 250
            }
          },
          {
            "name": "arriveBy",
            "in": "query",
            "required": false,
            "description": "Optional. Defaults to false, i.e. one to many search\n\ntrue = many to one\nfalse = one to many\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxTransfers",
            "in": "query",
            "required": false,
            "description": "The maximum number of allowed transfers (i.e. interchanges between transit legs,\npre- and postTransit do not count as transfers).\n`maxTransfers=0` searches for direct transit connections without any transfers.\nIf you want to search only for non-transit connections (`FOOT`, `CAR`, etc.),\nsend an empty `transitModes` parameter instead.\n\nIf not provided, the routing uses the server-side default value\nwhich is hardcoded and very high to cover all use cases.\n\n*Warning*: Use with care. Setting this too low can lead to\noptimal (e.g. the fastest) journeys not being found.\nIf this value is too low to reach the destination at all,\nit can lead to slow routing performance.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minTransferTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 0 minutes.\n\nMinimum transfer time for each transfer in minutes.\n",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "additionalTransferTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 0 minutes.\n\nAdditional transfer time reserved for each transfer in minutes.\n",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "transferTimeFactor",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 1.0\n\nFactor to multiply minimum required transfer times with.\nValues smaller than 1.0 are not supported.\n",
            "schema": {
              "type": "number",
              "default": 1.0
            }
          },
          {
            "name": "useRoutedTransfers",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\n\nWhether to use transfers routed on OpenStreetMap data.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pedestrianProfile",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `FOOT`.\n\nAccessibility profile to use for pedestrian routing in transfers\nbetween transit connections and the first and last mile respectively.\n",
            "schema": {
              "$ref": "#/components/schemas/PedestrianProfile",
              "default": "FOOT"
            }
          },
          {
            "name": "pedestrianSpeed",
            "in": "query",
            "required": false,
            "description": "Optional\n\nAverage speed for pedestrian routing.\n",
            "schema": {
              "$ref": "#/components/schemas/PedestrianSpeed"
            }
          },
          {
            "name": "cyclingSpeed",
            "in": "query",
            "required": false,
            "description": "Optional\n\nAverage speed for bike routing.\n",
            "schema": {
              "$ref": "#/components/schemas/CyclingSpeed"
            }
          },
          {
            "name": "vehicleHeight",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHeight"
            }
          },
          {
            "name": "vehicleWidth",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleWidth"
            }
          },
          {
            "name": "vehicleLength",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleLength"
            }
          },
          {
            "name": "vehicleWeight",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleWeight"
            }
          },
          {
            "name": "vehicleHazmat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmat"
            }
          },
          {
            "name": "vehicleHazmatWater",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmatWater"
            }
          },
          {
            "name": "vehicleAxleCount",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleCount"
            }
          },
          {
            "name": "vehicleAxleLoad",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleLoad"
            }
          },
          {
            "name": "vehicleTrailer",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleTrailer"
            }
          },
          {
            "name": "vehicleTopSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleTopSpeed"
            }
          },
          {
            "name": "vehicleLezAccess",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleLezAccess"
            }
          },
          {
            "name": "elevationCosts",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `NONE`.\n\nSet an elevation cost profile, to penalize routes with incline.\n- `NONE`: No additional costs for elevations. This is the default behavior\n- `LOW`: Add a low cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if small detours are required.\n- `HIGH`: Add a high cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if larger detours are required.\n\nAs using an elevation costs profile will increase the travel duration,\nrouting through steep terrain may exceed the maximal allowed duration,\ncausing a location to appear unreachable.\nIncreasing the maximum travel time for these segments may resolve this issue.\n\nThe profile is used for routing on both the first and last mile.\n\nElevation cost profiles are currently used by following street modes:\n- `BIKE`\n",
            "schema": {
              "$ref": "#/components/schemas/ElevationCosts",
              "default": "NONE"
            }
          },
          {
            "name": "transitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `TRANSIT` which allows all transit modes (no restriction).\nAllowed modes for the transit part. If empty, no transit connections will be computed.\nFor example, this can be used to allow only `SUBURBAN,SUBWAY,TRAM`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              },
              "default": [
                "TRANSIT"
              ]
            },
            "explode": false
          },
          {
            "name": "preTransitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK`. Does not apply to direct connections (see `directMode`).\n\nA list of modes that are allowed to be used for the first mile, i.e. from the coordinates to the first transit stop. Example: `WALK,BIKE_SHARING`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              },
              "default": [
                "WALK"
              ]
            },
            "explode": false
          },
          {
            "name": "postTransitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK`. Does not apply to direct connections (see `directMode`).\n\nA list of modes that are allowed to be used for the last mile, i.e. from the last transit stop to the target coordinates. Example: `WALK,BIKE_SHARING`.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              },
              "default": [
                "WALK"
              ]
            },
            "explode": false
          },
          {
            "name": "directMode",
            "in": "query",
            "required": false,
            "description": "Default is `WALK` which will compute walking routes as direct connections.\n\nMode used for direction connections from start to destination without using transit.\n\nCurrently supported non-transit modes: \\`WALK\\`, \\`BIKE\\`, \\`CAR\\`\n",
            "schema": {
              "$ref": "#/components/schemas/Mode",
              "default": "WALK"
            }
          },
          {
            "name": "maxPreTransitTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15min which is `900`.\nMaximum time in seconds for the first street leg.\nIs limited by server config variable `street_routing_max_prepost_transit_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          },
          {
            "name": "maxPostTransitTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15min which is `900`.\nMaximum time in seconds for the last street leg.\nIs limited by server config variable `street_routing_max_prepost_transit_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          },
          {
            "name": "maxDirectTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 30min which is `1800`.\nMaximum time in seconds for direct connections.\n\nIf a value smaller than either `maxPreTransitTime` or\n`maxPostTransitTime` is used, their maximum is set instead.\nIs limited by server config variable `street_routing_max_direct_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 1800,
              "minimum": 0
            }
          },
          {
            "name": "withDistance",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\nIf true, the response includes the distance in meters\nfor each path. This requires path reconstruction and\nis slower than duration-only queries.\n\n`withDistance` is currently limited to street routing.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "requireBikeTransport",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to allow bike carriage.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "requireCarTransport",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to allow car carriage.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "noCompulsoryReservation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to be usable without compulsory reservation.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of durations.\nIf no path was found, the object is empty.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneToManyIntermodalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "routing"
        ],
        "summary": "One to many routing\nComputes the minimal duration from one place to many or vice versa.\nThe order in the response array corresponds to the order of coordinates of the \\`many\\` parameter in the request body.\n",
        "operationId": "oneToManyIntermodalPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneToManyIntermodalParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of durations.\nIf no path was found, the object is empty.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneToManyIntermodalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/one-to-all": {
      "get": {
        "tags": [
          "routing"
        ],
        "summary": "Computes all reachable locations from a given stop within a set duration.\nEach result entry will contain the fastest travel duration and the number of connections used.\n",
        "operationId": "oneToAll",
        "parameters": [
          {
            "name": "one",
            "in": "query",
            "required": true,
            "description": "\\`latitude,longitude[,level]\\` tuple with\n- latitude and longitude in degrees\n- (optional) level: the OSM level (default: 0)\n\nOR\n\nstop id\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Optional. Defaults to the current time.\n\nDeparture time ($arriveBy=false) / arrival date ($arriveBy=true),\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxTravelTime",
            "in": "query",
            "required": true,
            "description": "The maximum travel time in minutes. Defaults to 90. The limit may be increased by the server administrator using `onetoall_max_travel_minutes` option in `config.yml`. See documentation for details.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "arriveBy",
            "in": "query",
            "required": false,
            "description": "true = all to one,\nfalse = one to all\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxTransfers",
            "in": "query",
            "required": false,
            "description": "The maximum number of allowed transfers (i.e. interchanges between transit legs,\npre- and postTransit do not count as transfers).\n`maxTransfers=0` searches for direct transit connections without any transfers.\nIf you want to search only for non-transit connections (`FOOT`, `CAR`, etc.),\nsend an empty `transitModes` parameter instead.\n\nIf not provided, the routing uses the server-side default value\nwhich is hardcoded and very high to cover all use cases.\n\n*Warning*: Use with care. Setting this too low can lead to\noptimal (e.g. the fastest) journeys not being found.\nIf this value is too low to reach the destination at all,\nit can lead to slow routing performance.\n\nIn plan endpoints before v3, the behavior is off by one,\ni.e. `maxTransfers=0` only returns non-transit connections.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minTransferTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 0 minutes.\n\nMinimum transfer time for each transfer in minutes.\n",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "additionalTransferTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 0 minutes.\n\nAdditional transfer time reserved for each transfer in minutes.\n",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "transferTimeFactor",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 1.0\n\nFactor to multiply minimum required transfer times with.\nValues smaller than 1.0 are not supported.\n",
            "schema": {
              "type": "number",
              "default": 1.0
            }
          },
          {
            "name": "maxMatchingDistance",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 250 meters.\n\nMaximum matching distance in meters to match geo coordinates to the street network.\n\nIs limited by server config variable `max_max_matching_distance`, larger values are capped to this limit.\n",
            "schema": {
              "type": "number",
              "default": 250
            }
          },
          {
            "name": "useRoutedTransfers",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `false`.\n\nWhether to use transfers routed on OpenStreetMap data.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pedestrianProfile",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `FOOT`.\n\nAccessibility profile to use for pedestrian routing in transfers\nbetween transit connections and the first and last mile respectively.\n",
            "schema": {
              "$ref": "#/components/schemas/PedestrianProfile",
              "default": "FOOT"
            }
          },
          {
            "name": "pedestrianSpeed",
            "in": "query",
            "required": false,
            "description": "Optional\n\nAverage speed for pedestrian routing.\n",
            "schema": {
              "$ref": "#/components/schemas/PedestrianSpeed"
            }
          },
          {
            "name": "cyclingSpeed",
            "in": "query",
            "required": false,
            "description": "Optional\n\nAverage speed for bike routing.\n",
            "schema": {
              "$ref": "#/components/schemas/CyclingSpeed"
            }
          },
          {
            "name": "vehicleHeight",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHeight"
            }
          },
          {
            "name": "vehicleWidth",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleWidth"
            }
          },
          {
            "name": "vehicleLength",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleLength"
            }
          },
          {
            "name": "vehicleWeight",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleWeight"
            }
          },
          {
            "name": "vehicleHazmat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmat"
            }
          },
          {
            "name": "vehicleHazmatWater",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleHazmatWater"
            }
          },
          {
            "name": "vehicleAxleCount",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleCount"
            }
          },
          {
            "name": "vehicleAxleLoad",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleAxleLoad"
            }
          },
          {
            "name": "vehicleTrailer",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleTrailer"
            }
          },
          {
            "name": "vehicleTopSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleTopSpeed"
            }
          },
          {
            "name": "vehicleLezAccess",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VehicleLezAccess"
            }
          },
          {
            "name": "elevationCosts",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `NONE`.\n\nSet an elevation cost profile, to penalize routes with incline.\n- `NONE`: No additional costs for elevations. This is the default behavior\n- `LOW`: Add a low cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if small detours are required.\n- `HIGH`: Add a high cost for increase in elevation and incline along the way. This will prefer routes with less ascent, if larger detours are required.\n\nAs using an elevation costs profile will increase the travel duration,\nrouting through steep terrain may exceed the maximal allowed duration,\ncausing a location to appear unreachable.\nIncreasing the maximum travel time for these segments may resolve this issue.\n\nThe profile is used for routing on both the first and last mile.\n\nElevation cost profiles are currently used by following street modes:\n- `BIKE`\n",
            "schema": {
              "$ref": "#/components/schemas/ElevationCosts",
              "default": "NONE"
            }
          },
          {
            "name": "transitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `TRANSIT` which allows all transit modes (no restriction).\nAllowed modes for the transit part. If empty, no transit connections will be computed.\nFor example, this can be used to allow only `SUBURBAN,SUBWAY,TRAM`.\n",
            "schema": {
              "default": [
                "TRANSIT"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "preTransitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK`. The behavior depends on whether `arriveBy` is set:\n  - `arriveBy=true`: Currently not used\n  - `arriveBy=false`: Only applies if the `one` place is a coordinate (not a transit stop).\n\nA list of modes that are allowed to be used from the last transit stop to the `to` coordinate. Example: `WALK,BIKE_SHARING`.\n",
            "schema": {
              "default": [
                "WALK"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "postTransitModes",
            "in": "query",
            "required": false,
            "description": "Optional. Default is `WALK`. The behavior depends on whether `arriveBy` is set:\n  - `arriveBy=true`: Only applies if the `one` place is a coordinate (not a transit stop).\n  - `arriveBy=false`: Currently not used\n\nA list of modes that are allowed to be used from the last transit stop to the `to` coordinate. Example: `WALK,BIKE_SHARING`.\n",
            "schema": {
              "default": [
                "WALK"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "requireBikeTransport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to allow bike carriage.\n"
          },
          {
            "name": "requireCarTransport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to allow car carriage.\n"
          },
          {
            "name": "noCompulsoryReservation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional. Default is `false`.\n\nIf set to `true`, all used transit trips are required to be usable without compulsory reservation.\n"
          },
          {
            "name": "maxPreTransitTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15min which is `900`.\n  - `arriveBy=true`: Currently not used\n  - `arriveBy=false`: Maximum time in seconds for the street leg at `one` location.\nIs limited by server config variable `street_routing_max_prepost_transit_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          },
          {
            "name": "maxPostTransitTime",
            "in": "query",
            "required": false,
            "description": "Optional. Default is 15min which is `900`.\n  - `arriveBy=true`: Maximum time in seconds for the street leg at `one` location.\n  - `arriveBy=false`: Currently not used\nIs limited by server config variable `street_routing_max_prepost_transit_seconds`.\n",
            "schema": {
              "type": "integer",
              "default": 900,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "The starting position and a list of all reachable stops\nIf no paths are found, the reachable list is empty.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reachable"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reverse-geocode": {
      "get": {
        "tags": [
          "geocode"
        ],
        "summary": "Translate coordinates to the closest address(es)/places/stops.",
        "operationId": "reverseGeocode",
        "parameters": [
          {
            "name": "place",
            "in": "query",
            "required": true,
            "description": "latitude, longitude in degrees",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Optional. Default is all types.\n\nOnly return results matching one of the given types.\nFor example, this can be used to allow only `ADDRESS` and `STOP` results.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LocationType"
              }
            },
            "explode": false
          },
          {
            "name": "numResults",
            "in": "query",
            "required": false,
            "description": "Optional. Number of results to return.\n\nIf omitted, 5 results are returned by default.\nMust be <= server config variable `reverse_geocode_max_results`.\n",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "A list of guesses to resolve the coordinates to a location",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/geocode": {
      "get": {
        "tags": [
          "geocode"
        ],
        "summary": "Autocompletion & geocoding that resolves user input addresses including coordinates",
        "operationId": "geocode",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "the (potentially partially typed) address to resolve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "language tags as used in OpenStreetMap\n(usually ISO 639-1, or ISO 639-2 if there's no ISO 639-1)\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Optional. Default is all types.\n\nOnly return results matching one of the given types.\nFor example, this can be used to allow only `ADDRESS` and `STOP` results.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LocationType"
              }
            },
            "explode": false
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Optional. Filter stops by available transport modes.\nDefaults to applying no filter.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Mode"
              }
            },
            "explode": false
          },
          {
            "name": "place",
            "in": "query",
            "required": false,
            "description": "Optional. Used for biasing results towards the coordinate.\n\nFormat: latitude,longitude in degrees\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placeBias",
            "in": "query",
            "required": false,
            "description": "Optional. Used for biasing results towards the coordinate. Higher number = higher bias.\n",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "numResults",
            "in": "query",
            "required": false,
            "description": "Optional. Number of suggestions to return.\nIf omitted, 10 suggestions are returned by default.\nMust be <= server config variable `geocode_max_suggestions`.\n",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "min",
            "in": "query",
            "required": false,
            "description": "latitude,longitude pair of the lower right coordinate of the bounding box containing all results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "latitude,longitude pair of the upper left coordinate of the bounding box containing all results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "A list of guesses to resolve the text to a location",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Match"
                  }
                }
[...]
